body {
    background: rgb(236, 115, 115);
    font: normal 15pt Arial;
}

header {
    color: rgb(131, 131, 218);
    text-align: center;

}

section {
    background: rgb(244, 246, 247);
    border-radius: 10px;
    margin: auto;
    padding: 14px;
    width: 370px ;
    box-shadow: 3px 3px 5px rgb(243, 247, 238);

}

div{
    text-align: center;
    padding: 8px;
}

footer {
    color: rgb(121, 121, 219);
    text-align: center;
    font-style: italic;

}